/ProblemSet1/nbproject/private/
/ProblemSet1/build/
/ProblemSet1/dist/
/taxCalculations/nbproject/private/
/taxCalculations/build/
/taxCalculations/dist/
/myTemperatureArrays/nbproject/private/
/myTemperatureArrays/build/
/myTemperatureArrays/dist/
/ProblemSet1/myTemperatureArrays/build/
/ProblemSet1/myTemperatureArrays/dist/
/ProblemSet1/myTemperatureArrays/nbproject/private/
/ProblemSet1/taxCalculations/build/
/ProblemSet1/taxCalculations/dist/
/ProblemSet1/taxCalculations/nbproject/private/
/class3ex1/nbproject/private/
/AverageStarterCode/nbproject/private/
/AverageStarterCode/build/
/AverageStarterCode/dist/